<section class="advantages">
    <div class="wrapper">
        <h2 class="title"><ev class="logo-c">Цистерол</ev> — первый препарат с максимальной концентрацией клюквы <span>усиленная формула которого избавляет от причины цистита <br>и предотвращает его рецидив</span></h2>
        <div class="line"></div>
        <div class="advantages-content1">
            <div class="advantages-box advantages-box1">
                <img src="img/pil.png" alt="pil" class="pil">
                <div class="advantages-box__text">Одна таблетка<br> Цистерол</div>
                <div class="advantages-box__equally">=</div>
                <img src="img/libra.png" alt="libra" class="libra">
                <div class="advantages-box__text">Более 5 кг<br> клюквы</div>
            </div>
            <div class="advantages-box advantages-box2">
                <div class="advantages-box__title">1 капсула Цистерола </div>
                <div class="advantages-box__subtitle">содержит действующего вещества больше,<br> чем любой другой препарат, благодаря<br> уникальной технологии <b class="logo-c nowrap">CO2-наноэкстрактов</b></div>
            </div>
        </div>
        <div class="advantages-content2">
            <div class="frame">
                <div class="advantages-content2__box">
                    <h3 class="advantages-content2__title">Благодаря технологии<br> CO2-нано-экстрагирования </h3>
                    <div class="advantages-content2__subtitle">возможна <span class="">максимальная концентрация</span> полезных веществ<br> для устранения цистита.</div>
                    <p class="advantages-content2__text">Клюква переходит в лекарственный экстракт путём «взрыва» углекислого газа (CO2).
                        В камеру с сырьём нагнетается углекислый газ до давления в 7000 атмосфер.
                        Затем давление резко сбрасывают, CO2-газ переходит из сжиженного состояния
                        в газообразное, увеличиваясь в объеме в сотни раз. При этом он буквально разрывает молекулы сырья, «выделяя», тем самым, лекарственные экстракты.</p>
                    <p class="advantages-content2__text">Кроме того, «взрыв» CO2 не только высвобождает чистейший экстракт растения,
                        но и обеззараживает его, потому как молекулы бактерий тоже рвутся в результате
                        резкого расширения. В итого получается стерильный лекарственный экстракт
                        с чистотой в 99,93%. Немыслимая цифра для обычных экстрактов.</p>
                    <p class="advantages-content2__text">Обычные имеют чистоту, максимум 55%, а остальные 35% это остатки исходной
                        химии – катализаторов (титан, хлор, ацетон), которые уменьшают действенность концентрата. С учетом примесей, эффективность концентрата падает до 23%.</p>
                </div>
            </div>
            <div class="frame  frame2">
                <div class="advantages-content2__box advantages-content2__box2">
                	<div class="advantages-content2__statboxs">
                		<div class="advantages-content2__statbox">
                			<img src="img/cylinder1.png" alt="cylinder">
                			<div class="advantages-content2__percent">99,93<span>%</span></div>
                			<div class="advantages-content2__ciltext">Полезная концентрация клюквы<br> в <b class="logo-c">Цистероле</b></div>
                		</div>
                		<div class="advantages-content2__statbox advantages-content2__statbox2">
                			<img src="img/cylinder2.png" alt="cylinder">
                			<div class="advantages-content2__percent advantages-content2__percent2">23<span>%</span></div>
                			<div class="advantages-content2__ciltext">Максимальная полезная концентрация клюквы в препаратах-аналогах:</div>
                		</div>
                	</div>
                	<div class="advantages-content2__subtitle2">Размер частиц CO2-экстракта - <br>94 нанометра. Таким образом, в одной капсуле содержится максимальная концентрация активных веществ для избавления от цистита.</div>           	
                </div>
            </div>
        </div>
    </div>
</section>