<section class="application">
	<div class="wrapper">
		<div class="title">Как принимать <span class="logo-c">Цистерол</span></div>
		<div class="application-content">
			<div class="application-content-box">
				<img src="img/application1.png" alt="application">
				<div class="application-content__heading">Пить по 1 таблетке<br> 2 раза в день</div>
			</div>
			<div class="application-content-box">
				<img src="img/application2.png" alt="application">
				<div class="application-content__heading">Запивать 100 мл<br> жидкости</div>
			</div>
			<div class="application-content-box">
				<img src="img/application3.png" alt="application">
				<div class="application-content__heading">Рекомендуемый курс - 1-2 месяца,<br class="brnone"> в зависимости от тяжести<br class="brnone"> заболевания</div>
			</div>
		</div>
	</div>
</section>