<footer class="footer">
    <div class="wrapper">
		<div class="footer-content">
			<div class="footer-content__left"><b>Цистерол</b><br>Copyright <span class="date-0" data-format="year">2019</span></div>
			<div class="footer-content__center"><a href="privacy.html" target="_blank">Политика конфиденциальности</a><br><span class="location">г. Москва, ул. Чоботовская, д.17, пом.1, ком 2</span></div>
			<div class="footer-content__right">ИНН 7707251637<br>ОГРН 1157735921758</div>
		</div>
    </div>
</footer>