<header class="header">
    <div class="wrapper">
        <div class="header-top">
            <div class="header-logo">Цистерол</div>
            <div class="header-top__links wow fadeInDown " data-wow-delay="0.1s">
                <a class="header-top__link go_to" href="#sert">№1 среди рекомендаций<br>  врачей за 2018 год</a>
                <a class="header-top__link go_to" href="#reviews">Отзывы уже здоровых<br>  клиентов за 2018 год</a>
                <a class="header-top__link go_to" href="#clinics">Эффективность доказана<br> клиниками России</a>
            </div>
        </div>
        <div class="header-bottom">
            <div class="header-bottom__box " >
                <h1 class="header-bottom__title fadeInDown wow" data-wow-delay="0.1s">Цистит<br> больше не вернется!</h1>
                <p class="header-bottom__subtitle fadeInDown wow" data-wow-delay="0.2s">Препарат эффективен за счет технологии<br> <span class="nowrap">СО2-нано-экстрагирования</span> клюквы</p>
                <ul class="header-bottom__lists fadeInDown wow" data-wow-delay="0.3s">
                    <li class="header-bottom__list">Больше никакой ноющей боли<br> и жжения при мочеиспускании</li>
                    <li class="header-bottom__list">Никаких внезапных, частых<br> и неуместных позывов в туалет</li>
                    <li class="header-bottom__list">Больше никакого цистита, помогает,<br> даже если другие средства больше<br> не действуют</li>
                </ul>
            </div>
            <div class="header-bottom__box "><img src="img/header-pack.png" alt="pack"></div>
                <div class="header-bottom__box">
                    <div class="form fadeInUp wow" id="cloneMobileThis">
                        <div class="form-title">Успейте заказать<br> по промо-цене<span class="date">до <span class="date-0"></span></span></div>
                        <div class="price">
                            <div class="old-price"><div class="price-title">Старая цена</div><span class="x_price_previous">999</span> <span class="x_currency">руб</span></div>
                            <div class="new-price"><div class="price-title">Новая цена</div><span class="x_price_current">800</span> <span class="x_currency">руб</span></div>
                        </div>
                        <div class="quantity">Осталось <span class="lastpack">60</span> упаковок<br> со скидкой</div>
                        <form method="POST" action="/submit" class="x_order_form order-form">
                            <input class="order-form__name" type="text" name="name" placeholder="Мое имя" required="">
                            <input class="order-form__phone" type="tel" name="phone" placeholder="Мой телефон" required="">
                            <button type="submit" class="btn">Заказать<span>со скидкой</span></button>
                        </form>
                        <div class="protection">Ваши данные защищены!</div>
                    </div>
                </div>
            </div>
        </div>
</header>