<section class="methods">
	<div class="wrapper">
		<h2 class="title wow fadeInDown" data-wow-delay="0.1s">Цистит возвращается в 87% случаев, 
			<span>ведь популярные методы лечения не устраняют его основную причину — кишечную палочку</span></h2>
			<div class="methods-boxs">
				<div class="ramka">
				<div class="methods-box wow fadeInDown" data-wow-delay="0.2s">
					<h4 class="methods-box__title">Антибиотики</h4>
					<div class="methods-box__name">Маша, <span>35 лет</span></div>
					<p class="methods-box__subtitle1">“Один курс антибиотиков —<br> это наверняка! Бактерий не останется,<br> а значит и болезнь уйдёт”</p>
					<div class="methods-box__comment methods-box__comment1">Но антибиотики помогли только временно</div>
					<p class="methods-box__subtitle2">Когда Маша перестала их пить - цистит вернулся. Но на этот раз антибиотики не помогли, потому что кишечная палочка адаптировалась и стала невосприимчивой к антибиотикам. <b>Цистит вернулся.</b></p>
				</div>
				<div class="methods-box wow fadeInDown" data-wow-delay="0.3s">
					<h4 class="methods-box__title methods-box__title2">Народные средства</h4>
					<div class="methods-box__name methods-box__name2">Дарья, <span>45 лет</span></div>
					<p class="methods-box__subtitle1 methods-box__subtitle1-2">“Я не доверяю аптечным препаратам — там сплошная химия, поэтому вылечу себя сама  фитотерапией<br> и ванночками”</p>
					<div class="methods-box__comment methods-box__comment2">Но народные средства лишь <span class="nowrap">временно помогли</span></div>
					<p class="methods-box__subtitle2">Только сняли симптомы. После того как Даша перестала пользоваться фитотерапией, цистит снова обострился. Из-за отсутствия основательного лечения болезни <b>цистит вернулся.</b></p>
				</div>
				<div class="methods-box wow fadeInDown" data-wow-delay="0.4s">
					<h4 class="methods-box__title methods-box__title3">“1 таблетка”</h4>
					<div class="methods-box__name methods-box__name3">Саша, <span>25 лет</span></div>
					<p class="methods-box__subtitle1 methods-box__subtitle1-3">“У меня нет времени этим заниматься,<br> я лучше потрачусь на одну мощную таблетку, зато она подействует<br> сразу”</p>
					<div class="methods-box__comment methods-box__comment3">Но таблетка<br> только сняла<br> симптомы</div>
					<p class="methods-box__subtitle2">И не подействовав на кишечную<br> палочку. Симптомы временно ушли,<br> <b>но цистит вернулся.</b></p>
				</div>
			</div>
			</div>
			<div class="methods-boxs2 wow fadeInDown" data-wow-delay="0.5s">
				<h3 class="methods-boxs2__title">... Цистит вернулся.</h3>
				<p class="methods-boxs2__subtitle">С каждым возвращением все больше вероятность<br> перехода цистита в хроническую форму, который проявляется<br> в виде обострений в самый неподходящий момент,<br> и приводит к инфекции в почках</p>	
			</div>
	</div>
</section>