<section class="order">
	<div class="wrapper">
		<div class="title">Заказать оригинальный <span class="logo-c">Цистерол</span> вы можете<br> только на нашем сайте</div>
		<div class="order-content">
			<div class="order-content-box">
				<img src="img/order1.png" alt="order">
				<div class="order-content__heading">Заполните форму заказа</div>
				<div class="order-content__subtitle">Вам нужно указать только свое имя<br> и номер телефона</div>
			</div>
			<div class="order-content-box">
				<img src="img/order2.png" alt="order">
				<div class="order-content__heading">Ответьте на звонок оператора</div>
				<div class="order-content__subtitle">Он уточнит ваши данные и ответит на все<br> вопросы о продукте</div>
			</div>
			<div class="order-content-box">
				<img src="img/order3.png" alt="order">
				<div class="order-content__heading">Оплатите после получения</div>
				<div class="order-content__subtitle">Все расходы по пересылке<br> мы оплатим самостоятельно</div>
			</div>
		</div>
	</div>
</section>