<div class="ever-popup-build">
    <div class="popup" id="cloneThis">
    	<img src="img/header-pack.png" alt="pack" class="popup-pack">
    	<img src="img/popup-girl.png" alt="girl" class="popup-girl">
        <div class="popup-box">
            <div class="form" id="cloneMobileThis">
                <div class="form-title">Успейте заказать<br> по промо-цене<span class="date">до <span class="date-0"></span></span></div>
                <div class="price">
                    <div class="old-price">
                        <div class="price-title">Старая цена</div><span class="x_price_previous">999</span> <span class="x_currency">руб</span>
                    </div>
                    <div class="new-price">
                        <div class="price-title">Новая цена</div><span class="x_price_current">800</span> <span class="x_currency">руб</span>
                    </div>
                </div>
                <div class="quantity">Осталось <span class="lastpack">60</span> упаковок<br> со скидкой</div>
                <form method="POST" action="/submit" class="x_order_form order-form">
                    <input class="order-form__name" type="text" name="name" placeholder="Мое имя" required="">
                    <input class="order-form__phone" type="tel" name="phone" placeholder="Мой телефон" required="">
                    <button type="submit" class="btn">Заказать<span>со скидкой</span></button>
                </form>
                <div class="protection">Ваши данные защищены!</div>
            </div>
        </div>
    </div>
</div>