<section class="proved">
	<div class="wrapper">
		<div class="proved-content1 wow fadeInDown">
			<div class="proved-content1__box">
				<h2 class="title proved-content1__title">Доказано:</h2>
				<p class="proved-content1__subtitle">Клюква — единственное безопасное  средство, которое эффективно<br> в борьбе с основной причиной цистита</p>
			</div>
			<div class="proved-content1__box"><img class="proved-content1__img" src="img/klucva.png" alt=""></div>
		</div>
		<div class="proved-content2 wow fadeInUp">
			<div class="proved-content2__box proved-content2__box1">
				<div class="proved-content2__video"><img src="img/fake.jpg" alt="video"></div>
			</div>
			<div class="proved-content2__box">
				<div class="proved-content2__description1">В клюкве содержатся вещества группы флавоноидов, которые не дают бактериям прикрепляться к стенкам мочевого пузыря и вызывать воспалительную реакцию.</div>
				<div class="proved-content2__description2">Бактерии не могут удерживаться<br> в мочевом пузыре и выводятся<br> из организма через мочу.</div>
			</div>
		</div>
		<h2 class="title">Сколько нужно клюквы, чтоб<br> избавиться от цистита?</h2>
		<div class="proved-line"></div>
		<div class="proved-content3">
		<div class="proved-content3__box">
			<img class="proved-content3__img" src="img/kolba1.png" alt="stats">
			<div class="proved-content3__text">
				<div class="proved-content3__title">Для избавления от цистита</div>
				<div class="proved-content3__subtitle">необходимо 10 кг клюквы каждый день в течение месяца</div>
				<img class="proved-content3__imganother1" src="img/basket.png" alt="basket">
			</div>

		</div>
		<div class="proved-content3__box">
			<img class="proved-content3__img" src="img/kolba2.png" alt="stats">
			<div class="proved-content3__text">
				<div class="proved-content3__title proved-content3__title2">Для профилактики<br> цистита</div>
				<div class="proved-content3__subtitle proved-content3__subtitle2">необходимо<br> 1 кг клюквы<br> каждый день</div>
				<img class="proved-content3__imganother proved-content3__imganother1" src="img/klucva2.png" alt="basket">
			</div>
		</div>
	</div>
	<div class="proved-bottom__title">НО!</div>
	<div class="proved-bottom__subtitle">пить клюкву в таких количествах сложно и вредно для желудка<br> из-за огромного содержания кислот в ягодах</div>
	</div>
	
</section>