<section class="relieves">
	<div class="wrapper">
		<h2 class="title">Как <span class="logo-c">Цистерол</span> избавляет от цистита<br>и его рецидивов</h2>
		<div class="relieves-content1">
			<ul class="relieves-box1">
                <li class="relieves-box1__list"><b>Избавляет от причины цистита:</b> не дает бактериям<br> прикрепляться к стенкам мочевого пузыря и выводит<br> их наружу</li>
                <li class="relieves-box1__list"><b>Устраняет воспаление и жжение в уретре,</b> восстанавливая<br> организм после цистита</li>
                <li class="relieves-box1__list"><b>Защищает от рецидива,</b> изменяет рН-баланс внутренних<br> жидкостей, делая их непригодными для жизни кишечной<br> палочки</li>
			</ul>
			<div class="relieves-box1 relieves-box1-2">
				<img src="img/pack2.png" alt="pack">
			</div>
		</div>
		<div class="relieves-content2">
			<div class="relieves-content2__title">Вспомогающие лечебные экстракты в составе<br> усиливают и закрепляют результат лечения</div>
			<div class="btn relieves-content2__btn ever-popup-btn">Заказать <span>со скидкой</span></div>
		</div>
		<div class="relieves-content3">
			<div class="relieves-box2">
				<div class="relieves-box2__content relieves-box2__content1">
					<div class="relieves-box2__title">Экстракт толокнянки</div>
					<div class="relieves-box2__subtitle">300 г на 1 капсулу</div>
				</div>
				<ul class="relieves-box2__lists">
					<li class="relieves-box2__list">— защищает слизистую, избавляя от проблем<br> при мочеиспускании</li>
					<li class="relieves-box2__list">— очищает ткани от накопившихся токсинов</li>
				</ul>
			</div>
			<div class="relieves-box2">
				<div class="relieves-box2__content relieves-box2__content2">
					<div class="relieves-box2__title">Экстракт брусники</div>
					<div class="relieves-box2__subtitle">1,5 кг на 1 капсулу</div>
				</div>
				<ul class="relieves-box2__lists">
					<li class="relieves-box2__list">— останавливает воспаление мочевого<br> пузыря</li>
					<li class="relieves-box2__list">— выводит бактерии наружу, обладая<br> мочегонным свойством</li>
				</ul>
			</div>
			<div class="relieves-box2">
				<div class="relieves-box2__content relieves-box2__content3">
					<div class="relieves-box2__title">Экстракт хвоща</div>
					<div class="relieves-box2__subtitle">540 г на 1 капсулу</div>
				</div>
				<ul class="relieves-box2__lists">
					<li class="relieves-box2__list">— нормализует работу мочеполовой<br> системы</li>
					<li class="relieves-box2__list">— укрепляет иммунитет и восстанавливает<br> микрофлору</li>
				</ul>
			</div>
		</div>
	</div>
</section>

