<section class="reviews" id="reviews">
    <div class="wrapper">
        <div class="title">Отзывы людей, которые уже более двух лет<br> не вспоминают про цистит,</div>
        <div class="reviews-title2">забыв про частые позывы в туалет<br> и необходимость долечиваться раз за разом</div>
        <div class="reviews-content">
            <div class="reviews-content_ramka">
                <div class="reviews-content_box">
                    <div class="reviews-content_head">
                        <div class="reviews-content__name">Виолетта, <span>38 лет</span></div>
                        <div class="reviews-content__city">г. Москва</div>
                    </div>
                    <div class="reviews-content__body">
                        <div class="reviews-content__subtitle">“Наконец-то выкинула таблетки от цистита, которые год носила в сумке на случай обострения”</div>
                        <div class="reviews-content__text">С циститом я промучалась год, мерзкая болячка. Лечила его в несколько заходов, но он постоянно возвращался. В поликлинику я ходила уже как к себе домой, выучила расписание уолога, и постоянно к ней наведывалась, когда плохо становилось. Она помогала снять симптомы, прописывала мне свечи и таблетки разные, но помогало это временно. Про пользу клюквы слышала от своей бабушки, но думала, что это всё сказки, пока не почитала про исследования Цистерол на одном научном сайте. Вдохновилась результатами, решила тоже заказать, и слава богу, что не затянула! Одного курса мне оказалось достаточно, больше не вспоминаю про эту болезнь. Хорошо, что всё в прошлом. И я наконец-то выкинула таблетки от цистита, которые год носила в сумке на случай обострения.</div>
                        <div class="shadow"></div>
                    </div>
                    <div class="review__content-btn">
                                <div class="review-btn flex-ccc">
                                    <div class="flex-ccc"></div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="reviews-content_ramka">
                <div class="reviews-content_box">
                    <div class="reviews-content_head reviews-content_head2">
                        <div class="reviews-content__name">Ольга, <span>42 года</span></div>
                        <div class="reviews-content__city">г. Псков</div>
                    </div>
                    <div class="reviews-content__body">
                    <div class="reviews-content__subtitle">“Уже полгода как неприятные ощущения не возвращаются”</div>
                    <div class="reviews-content__text">Что я только не придумывала, чтобы справиться с болями! Нашла даже свой метод во время обострений - наливала горячую воду в банку (почти кипяток) и садилась на нее. Жжение проходило, но на время конечно. Пробовала свечи, и препараты разные, но опять же помогало оно только на время, а от одного средства у меня вообще диарея началась. А вот Цистерол - это просто находка, рада, что нашла его. Пила по инструкции, по таблетке 2 раза в день. Сначала удивилась, что оно в таблетках, а не свечах, но потом почитала, что оно действует как раз на причину болезни как бы изнутри, а не только симптомы снимает, как свечи. Теперь всё прошло не возвращаются.</div>
                      <div class="shadow"></div>
                    </div>
                      <div class="review__content-btn">
                                <div class="review-btn flex-ccc">
                                    <div class="flex-ccc"></div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="reviews-content_ramka">
                <div class="reviews-content_box">
                    <div class="reviews-content_head reviews-content_head3">
                        <div class="reviews-content__name">Кристина, <span>31 год</span></div>
                        <div class="reviews-content__city">г. Киров</div>
                    </div>
                    <div class="reviews-content__body">
                    <div class="reviews-content__subtitle">“Исчезновение цистита было просто чудом”</div>
                    <div class="reviews-content__text">После каждого полового акта начинался мучительный цистит. Перепробовала средств "вагон и телегу". Но помог только Цистерол. Состав на основе концентрированной клюквы меня порадовал, хорошо, что не какая-то химия. Т.к. я уже почти отчаялась и воспринимала секс как пытку, то исчезновение цистита для меня было просто чудом! Я про него даже забыла. И мне жалко было женщин (когда читала форумы), которые жаловались об этой проблеме. Многие просто отчаивались и кричали о помощи. Поэтому вот решила написать отзыв. Здоровья вам и радости.</div> 
                    <div class="shadow"></div>
                    </div>
                      <div class="review__content-btn">
                                <div class="review-btn flex-ccc">
                                    <div class="flex-ccc"></div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="reviews-content_ramka">
                <div class="reviews-content_box">
                    <div class="reviews-content_head reviews-content_head4">
                        <div class="reviews-content__name">Екатерина, <span>28 лет</span></div>
                        <div class="reviews-content__city">г. Пенза</div>
                    </div>
                    <div class="reviews-content__body">
                    <div class="reviews-content__subtitle">“Мне помогло, хоть нормально теперь в туалет хожу”</div>
                    <div class="reviews-content__text">Девочки, сталкивалась не раз с этой проблемой, циститом(( лечилась тем, что выписывал уролог, мне помогало, но рецидива долго ждать не приходилось( поехала на море!!!! и там в третий раз начался цистит, никакого отдыха (на своем примере могу сказать, что антибиотики помогают, но до конца инфекцию не убивают, да ещё и иммунитет подрывают.) Самая распространенная проблема большинства девушек, сталкивающихся с этой проблемой - это недолечение (и я в том числе), а хронический цистит никто не хочет. Я пропила полный курс Цистерол, он на клюкве и травках всяких, поэтому мягкий, даже в профилактических целях можно (только не бросайте. а пропейте до конца!!! Тьфу-тьфу-тьфу, мне помогло, хоть номрально теперь в туалет хожу.</div> 
                    <div class="shadow"></div>
                    </div>
                      <div class="review__content-btn">
                                <div class="review-btn flex-ccc">
                                    <div class="flex-ccc"></div>
                                </div>
                            </div>                
                </div>
            </div>
            <div class="reviews-content_ramka">
                <div class="reviews-content_box">
                    <div class="reviews-content_head reviews-content_head5">
                        <div class="reviews-content__name">Надежда, <span>34 год</span></div>
                        <div class="reviews-content__city">г. СПБ</div>
                    </div>
                    <div class="reviews-content__body">
                    <div class="reviews-content__subtitle">“Ничего не беспокоит, прошел уже почти год”</div>
                    <div class="reviews-content__text">2 года мучилась с этой проблемой, лекарства помогали но не на долго. Чуть простыну или пройдусь по холодному полу и всё. Как-то раз даже пришлось скорую вызывать, потому что вместо мочи кровь была, ужас в общем. Такое даже врагу не пожелаешь, но я нашла решение - нашла лучший препарат на основе клюквы, которому теперь очень благодарна. Пила его почти 2 месяца, потому что у меня очень уже всё плохо было, так читала, что в основном и одного месяца лечения должно хватать. Сейчас ничего не беспокоит, прошел уже почти год. Надеюсь мой совет вам поможет, желаю удачи и скорейшего выздоровления ;))</div>
                    <div class="shadow"></div>
                    </div>
                      <div class="review__content-btn">
                                <div class="review-btn flex-ccc">
                                    <div class="flex-ccc"></div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</section>