<section class="sert" id="sert">
    <div class="wrapper">
        <div class="sert-ramka">
            <div class="sert-page">
                <div class="sert-page_box">
                    <div class="sert-page__title">Доказано:</div>
                    <div class="sert-page__subtitle"><span class="logo-c">Цистерол</span><br> эффективен в устранении цистита и предотвращении рецидивов</div>
                    <div class="sert-page__line"></div>
                    <div class="sert-page__headline">Согласно исследованиям Карельскогоbr научно-медицинского центра, которые<br> <span class="logo-c">доказали эффективность клюквы в устранении цистита</span> на примере препарата <span class="logo-c">Цистерол</span></div>
                    <p class="sert-page__text">Наша группа проводила исследование региона, в котором по каким-то причинам не фиксируются случаи заболевания циститом, или такие случаи крайне редкие. Этот регион находится в России, в Междуречном районе, который ещё называют “клюквенным краем”.</p>
                    <p class="sert-page__text">Местные жители всю жизнь регулярно употребляют клюквенный морс, и благодаря этому многие из них даже не слышали о таком заболевании, как цистит.</p>
                    <p class="sert-page__text">Это связано с лечебными свойствами клюквы, которая обеззараживает организм, устраняет кишечные палочки и восстанавливает защитные свойства организма. Из всех растительных веществ клюква - самая действенная в лечении цистита.</p>
                </div>
                <div class="sert-page_box sert-page_box2">
                    <img class="sert-page__pack" src="img/pack3.png" alt="pack">
                    <div class="sert-page__doctors"><img src="img/doctors.jpg" alt="doctors"></div>
                        <div class="sert-page__packsubtitle">Мы провели тестирования разных отечественных препаратов от цистита<br> на основе клюквы, и препарат <span class="logo-c">Цистерол показал самые высокие результаты<br> в лечении цистита, а также<br> самую высокую концентрацию клюквы.</span></div>
                    </div>
                </div>
            </div>
            <div class="sert-middleLine"></div>
            <div class="sert-heading" id="clinics">Результаты тестирования <span class="logo-c">Цистерол</span> среди 1780 пациентов<br> на разных стадиях заболевания циститом в клиниках России и Израиля</div>
            <div class="sert-result">
                <div class="sert-result_box">
                    <div class="sert-result__persent">11<span>%</span></div>
                    <div class="sert-result__description">устранили цистит,<br> но потребовался повтор курса</div>
                </div>
                <div class="sert-result_box">
                    <div class="sert-result__persent">89<span>%</span></div>
                    <div class="sert-result__description">устранили цистит<br> за 1 курс</div>
                </div>
                <div class="sert-result_box">
                    <div class="sert-result__persent">96<span>%</span></div>
                    <div class="sert-result__description">избавились от жжения и частых<br class="brn"> позывов к мочеиспусканию<br class="brn">за 3 дня лечения</div>
                </div>
            </div>
            <div class="sert-explanation">Результаты тестирования могут варьироваться в зависимости<br> от стадии заболевания</div>
            <div class="sert-box">
                <img src="img/sert1.png" alt="certificate">
                <img src="img/sert2.png" alt="certificate">
                <img src="img/sert3.png" alt="certificate">
			</div>
            </div>
</section>