<section class="statistics">
	<div class="wrapper">
		<h2 class="title wow fadeInDown">Статистика МОЗ<br> в 89% случаев причина цистита в кишечной палочке</h2>
		<div class="statistics-conTop">
			<div class="signature-1 ">Мочеточник</div>
			<div class="signature-2 ">Мочевой пузырь<br> и мочеиспускательный канал</div>
			<img class="statistics-conTop__img" src="img/esophagus.png" alt="esophagus">
			<div class="statistics-conTop__text">
				<div class="statistics-conTop__title wow fadeInDown" data-wow-delay="0.1s">Кишечная палочка</div>
				<div class="statistics-conTop__subtitle wow fadeInDown" data-wow-delay="0.2s">попадает в мочеиспускательный канал<br> и начинает там размножаться.</div>
				<div class="statistics-conTop__title2 wow fadeInDown" data-wow-delay="0.3s">Так у человека развивается цистит.</div>
			</div>
		</div>
		<div class="statistics-conBottom">
			<div class="statistics-conBottom__subtitle2 wow fadeInDown" data-wow-delay="0.4s">Чтобы вылечиться раз и навсегда,<br> нужно избавиться от кишечной палочки.</div>
		</div>
	</div>
</section>