.header{
	background: #f2fafa;
	position: relative;
	z-index: 2;
	padding-top: 40px;
	&:after{
		content: "";
		position: absolute;
		left: 50%;
		transform: translate(-28%);
		bottom: 0;
		background: url(../img/header-girl.png) no-repeat center;
		width: 604px;
		height: 624px;
		z-index: 1;
	}
	
	&-top{
		display: flex;
		justify-content: space-between;
		margin-bottom: 35px;
		position: relative;
		z-index: 1;
		&__links{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			position: relative;
			z-index: 5;
			}
		&__link{
			margin-left: 50px;
			padding-left: 45px;
			color: #4a4e7d;
			line-height: 18px;
			position: relative;
		}
		&__link:nth-child(1):before{
			content: "";
			position: absolute;
			left: 0;
			top: 3px;
			background: url(../img/icon-cup.png) no-repeat center;
			width: 25px;
			height: 30px;
		}
		&__link:nth-child(2):before{
			content: "";
			position: absolute;
			left: 0;
			top: 5px;
			background: url(../img/icon-reviews.png) no-repeat center;
			width: 33px;
			height: 30px;
		}
		&__link:nth-child(3):before{
			content: "";
			position: absolute;
			left: 0;
			top: 5px;
			background: url(../img/icon-clinics.png) no-repeat center;
			width: 21px;
			height: 30px;
		}
		&__link:hover{
			text-decoration: underline;
		}	
	}
	&-logo{
		color: #4baaa4;
		font-size: 44px;
		font-weight: 700;
		line-height: 21.72px;
	}
	&-bottom{
	display: flex;
	justify-content: space-between;
	padding-bottom: 57px;
	&__title{
		color: #000000;
		font-size: 60px;
		font-weight: 700;
		line-height: 60px;
	}
	&__subtitle{
		margin-top: 58px;
		color: #4baaa4;
		font-size: 26px;
		font-weight: 700;
		line-height: 28px;
		position: relative;
		z-index: -1;
		&:before{
		content: "";
		position: absolute;
		bottom: -375px;
    left: -370px;
		background: url(../img/header-bg.png) no-repeat center;
		width: 985px;
		height: 720px;
		z-index: -2;
	}
		}
	&__lists{
		margin-top: 70px;
	}
	&__list{
		color: #232f2e;
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 22px;
		padding-left: 40px;
		position: relative;
		&:before{
			content: "";
			position: absolute;
			top: 12px;
			left: 0;
			background: url(../img/icon-lists.svg) no-repeat center;
			height: 24px;
			width: 16px;
		}
	}
	&__box:nth-child(2){
		position: relative;
		z-index: 4;
		width: 300px;
		img{
			position: absolute;
			bottom: -177px;
    		left: -236px;
			z-index: 5;
		}
	}
}
}
.form{
	width: 270px;
	border: 4px solid #a5d7d4;
	background-color: #ffffff;
	padding: 22px 18px 31px;
	position: relative;
	z-index: 2;
	&:after{
		content: "";
		position: absolute;
		right: -76px;
    	top: 141px;
		background: url(../img/form-arrow.png) no-repeat center;
		width: 91px;
		height: 276px;
	}
	&-title{
		color: #3c3f52;
		font-family: Roboto;
		font-size: 19px;
		font-weight: 700;
		line-height: 22px;
		text-align: center;
	}
	.date{
		color: #4baaa4;
		display: block;
	}
}
.price{
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.old-price{
	text-align: center;
	position: relative;
	.price-title{
		color: #949494;
		font-family: Roboto;
		font-size: 13px;
		font-weight: 400;
		line-height: 24px;
	}
	.x_price_previous{
		color: #a5d7d4;
		font-size: 34px;
		font-family: Roboto;
		line-height: 36px;
		letter-spacing: -1.6px;
	}
	.x_currency{
		color: #a5d7d4;
		font-family: Roboto;
		font-size: 15px;
	}
	&:before,&:after{
		content: "";
		position: absolute;
		top: 42px;
		left: -5px;
		width: 68px;
		height: 1px;
		background-color: #4baaa4;
	}
	&:before{
		transform: rotate(-15deg);
	}
	&:after{
		transform: rotate(15deg);
	}
}
.new-price{
	text-align: left;
	position: relative;
	.price-title{
		color: #2b3541;
		font-size: 13px;
		font-family: Roboto;
		font-weight: 400;
		line-height: 24px;
		padding-left: 2px;
	}
	.x_price_current{
		font-size: 42px;
		font-family: Roboto;
		font-weight: 900;
		letter-spacing: -2.1px;
		color: #e14751;
		line-height: 35px;
	}
	.x_currency{
		color: #e14751;
		font-family: Roboto;
		font-size: 15px;
		font-weight: 400;	
	}
	:before{
		content: "";
		position: absolute;
		top: 0;
		left: -23px;
		width: 1px;
		height: 61px;
		background-color: #e5e8e8;
	}
}
.quantity{
	margin-top: 20px;
	color: #000000;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	.lastpack{
		color: #e14751;
		font-family: "Roboto";
		font-weight: 700;
	}
}
.order-form{
	margin-top: 18px;
	input{
		width: 100%;
		height: 60px;
		border-radius: 6px;
		border: 1px solid #d9ddde;
		background-color: #ffffff;
		padding-left: 55px;
		padding-right: 10px;
		margin-bottom: 15px;
	}
	&__name{
		background: url(../img/icon-name.svg) no-repeat 12% 50%;
	}
	&__phone{
		background: url(../img/icon-phone.svg) no-repeat 12% 50%;
	}
}
.protection{
	margin-top: 27px;
	text-align: center;
	color: #a0cbbf;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.52px;
	position: relative;
	padding-left: 31px;
	&:before{
		content: "";
		position: absolute;
		left: 12px;
    	top: -5px;
		background: url(../img/icon-protection.svg) no-repeat;
		width: 22px;
		height: 24px;
	}
}
@media (max-width: 1330px){
	.form{
	&:after{
		display: none;
	}
}
}
@media (max-width: 1190px){
	.header{
	&:after{
		width: 604px;
	    height: 531px;
	    background-size: 85%;
	    transform: translate(-35%);
	}
	&-bottom{
		&__title{
			font-size: 49px;
	}
	&__subtitle{
		font-size: 23px;
		br{
			display: none;
		}
	}
	&__lists{
		margin-top: 60px;
	}
	&__list{
		font-size: 19px;
	}
	&__box:nth-child(2){
		img{
			width: 445px;
		}
	}
	}
	}
}
@media screen and (max-width: 1023px){
 	.header{
 		padding-top: 36px;
 		&:before,&:after{
 			display: none;
 		}
 		&-top{
 			flex-wrap: wrap;
 			flex-direction: column;
 			align-items: center;
 			justify-content: center;
 			margin-bottom: 20px;
 			&__links{
				margin-top: 25px;
 			}
 			&__link{
 				margin-left: 15px;
 			}
 		}
 		&-bottom{
 			flex-wrap: wrap;
 			padding-bottom: 40px;
 			&__box:nth-child(1){
 				width: 100%;
 			}
 			&__box:nth-child(2){
 				width: 61%;
 				display: -webkit-flex;
 				display: -moz-flex;
 				display: -ms-flex;
 				display: -o-flex;
 				display: flex;
 				justify-content: center;
 				align-items: center;

 				img{
 					position: initial;
 				}
 			}
 			&__box:nth-child(3){
 				width: 37%;
 				margin-top: 10px;
 			}
 			&__title{
 				text-align: center;
 				line-height: 1;
 				
 				br{
 					display: none;
 				}
 			}
 			&__subtitle{
 				margin-top: 15px;
 				text-align: center;
 				font-size: 21px;
 				&:before{
 					display: none;
 				}
 			}
 			&__lists{
 				margin-top: 15px;
 			}
 			&__list{
 				font-size: 18px;
 				margin-bottom: 14px;
 				br{
 					display: none;
 				}
 				&::before{
 					top: 0;
 				}
 			}
 		}
 	}
}
@media screen and (max-width: 767px){
  .header{
		&-top{
			&__links{
				flex-wrap: wrap;
				width: 100%;
				justify-content: center;
				align-items: center;
			}
			&__link{
				&:nth-child(3){
					margin-top: 15px;
				}
			}
		}
		&-bottom{
			padding-bottom: 30px;
			&__title{
				font-size: 45px;
			}
			&__box{
				&:nth-child(3){
					width: 45%;
				}
				&:nth-child(2){
					width: 52%;
					img{
						    width: 333px
					}
				}
			}
		}
 	}
}
@media screen and (max-width: 639px){
  .header{
  	padding-top: 30px;
		&-bottom{
			&__title{
				font-size: 41px;
			}
			&__box{
				&:nth-child(3){
					width: 100%;
				}
				&:nth-child(2){
					width: 100%;
					img{
						   
					}
				}
			}
		}
 	}
 	.form{
 		display: block;
 		margin: 0 auto;
 	}
}
@media (max-width: 475px){
	.header{
		&-top{
			margin-bottom: 10px;
			&__links{
				flex-direction: column;
				align-items: flex-start;
				width: 230px;
				margin: 15px auto 0;
			}
			&__link{
				margin-left: 0;
				margin-top: 10px;
				&:nth-child(3){
					margin-top: 10px;
				}
			}
		}
		&-bottom{
			&__box{
				&:nth-child(2){
					
					img{
						     width: 317px;  
					}
				}
			}
		}
 	}
}