doctype html
html
  head
    meta(charset="utf-8")
    title Купить Цистерол недорого. Цены, отзывы. Закажите Цистерол сейчас!
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Roboto:400,400i,700&amp;subset=cyrillic" rel="stylesheet">
    link(href="img/favicon.ico" rel="icon")
    link(rel='stylesheet' href='css/app.css')
  body
    include ../common/header.html
    include ../common/statistics.html
    include ../common/methods.html
    include ../common/proved.html
    include ../common/advantages.html
    include ../common/relieves.html
    include ../common/proved2.html
    include ../common/sert.html
    include ../common/reviews.html
    include ../common/application.html 
    include ../common/order.html
    include ../common/footer.html
    include ../common/popup.html
    script(src='js/jquery-3.3.1.min.js')
    script(src='js/slick.min.js')
  
    script(src='js/app.js')
